@charset "UTF-8";

#header{
	display: flex;
	justify-content: space-between;
	position: sticky; 	/*화면에서 해당 요소가 나갔을 때 위치고정*/
	top: 0px;			/*가장 위에*/
	background-color: red;
	border: solid 1px #eeeeee;
	z-index:1;			/*다른 요소와 겹쳤을 때 순서*/
}

#header .h_menu li{
	display: inline-block;
}

.popup{
	width: 20%;
	border: 2px solid #eeeeee;
	position: fixed; 		/*화면 위치 고정*/
	right:0px; top: 40%; 	/*가장 오른쪽 위에서부터 40%*/
	background-color: white;/* 기본값 = 투명 transparent*/
	z-index: -1;
	opacity: 0.8;			/*투명도[%.소수점]*/
}

body{ background-color: yellow;}