@charset "UTF-8";

.w_f{width : 600px; margin: 0 auto; }

.w_b{
	border-top: solid 3px black;
	padding-left: 5px;
}
/* 글머리 제거 */
.w_b, .butt{ list-style-type: none}

/* li[ block -> inline-block ] */
.colums li{display: inline-block;}

.colums{padding: 5px;}
.col1{width: 100px;}

/* 입력 input */
.te{ 
	width: 400px;
	height: 30px;
}

/* 입력 textarea 사이즈 고정 */
textarea {
	width: 400px;
	height: 100px;
	resize: none;
	}

/* 버튼들의 box */
.butt{
	text-align: right;
	margin-right: 100px;
	margin-top: 20px;
	}

/* 버튼 사이즈 변경 */
.bu{
	padding: 7px 20px;
}

/* 글씨 가운데 정렬 */
#ne{
	vertical-align: middle;
}
/* 사이에 선굿기 */
.line{
	border-bottom: dotted 1px lightgray;
	padding: 5px 5px;	
}