@charset "UTF-8";

h3{
	text-align: center;
}
.login{
    margin: 0 auto;
}

.log{
	text-align: center;
	font-weight: bold;
}

.in{
	height: 25px;
	width: 140px;
	margin-left: 5px;
}

.sub{
	height: 70px;
	width: 90px;
	margin-left: 10px;
}