@charset "UTF-8";

.signup_title{text-align: center;}

.signup_form{
	width: 600px;					/* 가로 길이 */
	margin: 0 auto;					/* 박스 가운데 정렬 */
	padding: 30px;
}
.signup_box{
	border-top: solid 2px red; 		/* 위테두리*/
	border-bottom: solid 2px red;	/* 아래테두리*/
}
.signup_box li{ list-style-type: none; }

.colums li{ display: inline-block; }

.colums{ padding: 5px;}
.colums .col1{ width: 150px;}

.colums .col2 input { 
	width: 250px; height: 25px; 
}
.colums .col2 select { 
	width: 100px; height:30px;
	}
	
textarea{ 
	resize: none; 
	width: 300px;
	height: 200px;
}
	
.btn_box{ text-align: right; }

/* 버튼 사이즈 변경 */
.btn_box input{ 
	padding: 10px 20px; 
	margin: 10px 10px 0px 0px;
}
/* 가입경로 텍스트 세로 정렬 */
.hello{ vertical-align: top; }