@charset "UTF-8";

.wrap{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.addBox, .listBox, .updatebox{
	border:  1px solid black;
	width:  40%;
	text-align: center;
}
.addTable, .listTable, .updateTable{
	margin: 0 auto;
}
.listTable, .listTable td, .listTable th{
	border:  1px solid black;
	border-collapse: collapse;
}
.updatebox{display: none;}